main{
    max-width: 800px;
    height: 480px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.image-container{
    width: 100%;
    max-width: 520px;
    height: 320px;
    aspect-ratio: 4/3;
    background-color: black;
    margin: 0 auto;
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
}

.image-feed{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.circle-button{
    height: 60px;
    width: 60px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block
}

.mode-selection-buttons{
    background-color: white;
    color: black;
    border-radius: 50px;
    display: inline-block;
    cursor:pointer;
}

.mode-selection-buttons.active{
    background-color: blue;
    color:white;
}

.mode-set{
    display: none;
}

.mode-set.visible{
    display: flex;
    justify-content: space-evenly;
}

.editor-container{
    display: flex;
    flex-direction:column;
    gap: 10px;
}
.upper-container{
    display: flex;
    flex-direction: row;
    gap:25px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.middle-container{
    display: flex;
    justify-content: space-evenly;
}

.lower-container{
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    gap: 25px;
}
