main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.image-container{
    width: 100%;
    max-width: 500px;
    height: 390px;
    aspect-ratio: 4/3;
    background-color: black;
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
}

.image-feed{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filters{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cancel{
    align-self: center;
}

.filter-panel {
    display:flex;
    flex-direction: column;
    gap: 50px;
}

.editor-container{
    display: flex;
    gap: 25px;
}

