/* mode.css */
main {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
body{
    background-image: 
    repeating-linear-gradient(
        -45deg, 
        #99ffd0 1rem, 
        #99ffd0 3rem,
        #b4ffdc 2rem,
        #b4ffdc 5rem
    );
    background-size: 200% 200%;
    animation: barberpole 30s linear infinite;
}

@keyframes barberpole {
    100% {
    background-position: 100% 100%;
    }
}

.mode-header {
    margin-bottom: 2.5rem;
}

.mode-header h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.mode-options {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.mode-card {
    background: white;
    border-radius: 10px;
    outline: white solid 5px;
    width: 360px;   
    height: 300px;
    box-shadow: -9px 8px 0px rgb(0 0 0 / 0.6);
    transition: transform 0.3s, box-shadow 0.0s;
    text-align: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

img{
    box-sizing: border-box;
    align-items: center;
}

.mode-card:active {
    transform: translateY(10px);
    box-shadow: none;
}

.modeName {
    font-size: 1.8rem;
    color: #2c3e50;
    position: absolute;
    text-align: center;
    z-index: 10;
}


.mode-btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.mode-btn:hover {
    background-color: #2980b9;
}

a{
    position: relative;
    text-align: center;
    color: white;
}
.back-card{
    position: absolute;
    text-decoration: none;
    top: 0;
    left: -7px;
    
}
.back-content{
    background: #99ffd0;
    font-size: 30px;
    padding: 10px;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: -5px 5px 0px rgb(0 0 0 / 0.6);
    transition: transform 0.3s, box-shadow 0.0s;
}
.back-card:active{
    transform:translateY(3px);
    box-shadow: none;
}

.back-content:active{
    box-shadow: none;
}
.title{
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-stroke: 2px  #198050;
}